@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo a {
  color: black;
  text-decoration: none;
}

.header-wrapper {
  background: #f0f0f0;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  width: 100%;
}

.links li {
  list-style: none;
}

.links li a {
  color: #4e4e4e;
  padding: 15px;
  text-decoration: none;
}

.links li a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text p {
  color: #666666;
  width: 70%;
}

.text h1 {
  margin-bottom: 20px;
}

.text h5 {
  margin-top: 20px;
}

.text a {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 3px;
  margin-left: 3px;
}

.logo-container {
  margin-right: 150px;
}

.logo-container img {
  -webkit-filter: drop-shadow(2px 2px 20px grey);
          filter: drop-shadow(2px 2px 20px grey);
}

.footer-wrapper {
  background: #f0f0f0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right-side a {
  color: #4e4e4e;
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
}

.for__mobile {
  display: none;
}

form {
  width: 500px;
}

form label {
  font-weight: 500;
}

form button {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

form input {
  margin: 5px 0 20px 0;
}

form textarea {
  margin: 5px 0 10px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 2px black solid;
  font-size: 16px;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  header {
    text-align: center;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }
  .main-wrapper {
    margin: 50px 0 50px 0;
  }
  .logo-container {
    text-align: center;
    margin: auto;
    width: 180px;
  }
  .logo-container img {
    margin: auto;
    width: 100%;
  }
  .text {
    margin-top: 30px;
  }
  .text h1 {
    font-size: 30px;
  }
  .text p {
    margin: auto;
    width: 100%;
  }
  .for__mobile {
    display: block;
  }
  footer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 10%;
    height: 20vh;
  }
  .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-side a {
    padding: 7px;
    font-size: 16px;
  }
  .right-side .social-item {
    margin-top: 5px;
  }
  .right-side .social-item a {
    font-size: 20px;
  }
  form {
    margin-top: 50px;
    width: 100%;
    background: #e6e6e6;
    padding: 20px;
    border-radius: 20px;
  }
}
/*# sourceMappingURL=style.css.map */